.container

  .left-container

    .nav-header
      %h3.nav-header__name
        = current_user.name
      %ul.nav-header__lists
        %li.icon
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class:'icon'
        %li.icon
          = link_to edit_user_path(current_user) do
            =fa_icon 'cog', class: 'icon'
    .nav-contents
      - current_user.groups.each do |group|
      = render partial: "shared/nav-contents"

  .right-container

    .chat-header

      .chat-header__left
        .chat-header__left__title
        .chat-header__left__member
      .chat-header__right
        .chat-header__right__edit-botton Edit

    .chat-contents
      = render partial: "chat-contents"

    .form
      .form__message-box
      %label.form__message-mask
        %i.fa.fa-image
      .form__send-botton send
